body{
    display: flex;
    justify-content: center;
    padding: 80px;
    margin: 80px;
    background: linear-gradient(to bottom right,rgb(0, 221, 255) ,rgb(0, 25, 99));
    background-repeat: no-repeat;
}
.table{
    width: 482px;
    height: 480px;
    background: linear-gradient(105deg, rgb(0, 81, 255), rgb(255, 255, 255));
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: groove;
    border-color: rgb(0, 81, 255);
    border-width: 2px;
}
.display{
    width: 465px;
    height: 45px;  
    font-size: 35px;
    text-align: left;
    background: linear-gradient(105deg, rgb(0, 81, 255), rgb(255, 255, 255));
    padding-left: 15px;
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: groove;
    border-color: rgb(0, 81, 255);
    border-width: 2px;
}
.display1{
    width: 464px;
    height: 25px; 
    font-size: 20px; 
    background: linear-gradient(65deg, rgb(0, 81, 255), rgb(255, 255, 255));
    padding-left: 15px;
    border-style: groove;
    border-color: rgb(0, 123, 255);
    border-width: 2px;
}
.button{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    border: none;
    font-size: 36px;
    background-color: rgb(0, 29, 91);
    color: white;
    cursor: pointer;
    transition: background-color 0.7s ;
}
.button:hover{
    font-size: 40px;
    transition: font-size 1s ;
    background-color: rgb(0, 48, 151);
    color: white;
    box-shadow: 0 0px 20px black;
}
.button:active{
    font-size: 55px;
    background-color: rgb(0, 75, 236);
    transition: font-size 0.3s ;
}
.oprator{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    border: none;
    font-size: 36px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.5s ;
}
.oprator:hover{
    font-size: 40px;
    transition: font-size 1s ;
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
    box-shadow: 0 0px 20px black;
}
.oprator:active{
    font-size: 60px;
    background-color: rgb(140, 140, 140);
    transition: font-size 0.4s;
}
.oprator-c{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    border: none;
    font-size: 36px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.5s ;
}
.oprator-c:hover{
    font-size: 40px;
    transition: font-size 1s ;
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
    box-shadow: 0 0px 20px black;
}
.oprator-c:active{
    font-size: 55px;
    background-color: rgb(140, 140, 140);
    transition: font-size 0.4s;
}
